/* Header Styles */
header {
    padding: 0 40px;        
    background: white;    
    position: sticky;
    top: 0;     
    align-items: center;
    box-shadow: var(--box-shadow);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
header .dropdown-menu {
    position: absolute;
    top: calc(100% + 12px);
    right: 40px;
    background: white;
    padding: 20px;
    width: 200px;
    text-align: right;    
    box-shadow: var(--box-shadow);   
    z-index: 2000;
}
header .dropdown-menu a {
    display: block;
    line-height: 1.8em;
}
header nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px calc((100% - 1280px) / 2);
    background: white;     
}
header nav > ul > li > ul > li {
    margin: 0 40px;
}
header nav ul ul ul {
    columns: 130px 3;
}
header nav ul ul ul li {
    white-space: nowrap;
}
header nav a {
    font-size: 12px;
    line-height: 3;   
    padding: 0 20px 0 0;
}
.logo {
    width: 80px; 
    padding: 10px 10px 10px 0;   
    font-size: 0;
}
.logo img:hover {
    transform: scale(1.05);
}
header button:hover svg {
    color: var(--primary-color);
}
/* search */
.searchform {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: white;
    box-shadow: var(--box-shadow);
    z-index: 2000;
}
.searchform input {    
    text-align: center; 
    padding: 60px 0; 
    font-size: 68px;    
    border: solid 1px #ccc;
    margin: 40px 0;
    width: 100%;
    font-weight: 100;
}
.searchform input:focus {    
    border-color: var(--primary-color);
}
.searchform input::placeholder {
    color:#ccc;
}
/* Footer Styles */
footer {
    background: #222; 
    padding: 80px 0 0 0;
}
footer > div:first-child {
    border-bottom: solid 1px #333;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
}
footer ul ul{
    margin-top: 10px;
}
footer ul a {
    color: #999; 
    line-height: 2;
    font-size: 12px;
} 
footer small {
    display: block;
    text-align: center;
    line-height: 3rem; 
    color: #999;
}  
/* Media Queries */
@media ( max-width: 768px ) {  
    header {
        padding: 0 20px;
    }  
    footer nav .parent {        
        align-items: center;
    }    
}