/* Header Styles */
header {
    padding: 0 40px;        
    background: white;    
    position: sticky;
    top: 0;     
    align-items: center;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
header figure {
    position: relative;
    top: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 100%;  
    overflow: hidden;
}
header figure + small {
    position: absolute;
    top: 100%; 
    right: 15px;  
    white-space: nowrap;  
}
header .dropdown-menu {
    position: absolute;
    top: calc(100% + 15px);
    right: 40px;
    background: white;
    padding: 20px;
    width: 200px;
    text-align: right;    
    box-shadow: 0 0 32px rgba(0,0,0,0.5);   
    z-index: 1;
}
header .dropdown-menu a {
    display: block;
    line-height: 1.8em;
}
header nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px calc((100% - 1280px) / 2);
    background: white;     
}
header nav > ul > li > ul > li {
  margin: 0 40px;
}
header nav ul ul ul li {
    white-space: nowrap;
}
header nav a {
    line-height: 3;
    display: inline-block;
    width: 100%;
    padding: 0 20px 0 0;
}
.logo {
    width: 80px; 
    padding: 10px 10px 10px 0;   
}
.logo img:hover {
    transform: scale(1.05);
}
.icons {
    display: flex;
    position: relative;
}
.icons i {
    cursor: pointer;
    padding: 12px;  
    font-size: 1.2rem;      
}
header .fa-facebook {
    border-left: solid 1px #ddd;
    margin-left: 12px;
    padding-left: 20px;   
}
.openCart small {
    background: var(--primary-color);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    color: white;
    text-align: center;   
    margin: 0 10px 0 -10px;
}
/* search */
.searchform {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: white;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
    z-index: 1;
}
.searchform input {    
    text-align: center; 
    padding: 60px 0; 
    font-size: 68px;    
    border: solid 1px #ccc;
    margin: 40px 0;
}
.searchform input::placeholder {
    color:#ccc;
}
/* Footer Styles */
footer {
    background: #222; 
    padding: 80px 0 0 0;
}
footer > div:first-child {
    border-bottom: solid 1px #333;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
}
footer ul ul{
    margin-top: 10px;
}
footer ul a {
    color: #999; 
    line-height: 2em;
    font-size: 0.75rem;
} 
footer small {
    display: block;
    text-align: center;
    line-height: 3rem; 
    color: #999;
}  
footer small span {
    color: var(--primary-color);
}
/* Media Queries */
@media ( max-width: 768px ) {
    footer .parent {        
        align-items: center;
    }
}