.dashboard a {
    text-decoration: none;   
    white-space: nowrap;        
}
.dashboard aside {
    flex: 0 0 20%;
}
.dashboard article {
    flex: 0 1 calc(80% - 40px); 
}
.dashboard aside i {
    font-size: 22px;
    margin-bottom: 1em;
    color: var(--primary-color);
    transition: all var(--speed);
    margin-right: 20px;
}
.dashboard aside li {
    position: relative;
}
.dashboard aside .fa-caret-down,
.dashboard aside .fa-caret-up {
    font-size: 1rem;    
    position: absolute;
    top: 6px;
    right: -40px;
}
.dashboard aside a:hover i,
.toggle-products:hover i {
    color: var(--secondary-color);
}
.admin span {
    position: relative;
}
.admin span i {
    position: absolute;
    right: 8px;
    top: 0;
    margin-left: 20px;
    transition: all var(--speed);
    line-height: 24px;
}
.admin:hover span i {
    right: 5px;
}
.admin {
    color: white;
    display: flex;
    justify-content: center;    
    border-radius: 5px;
    flex: 0 1 23%;
    text-align: center;
    padding-top: 20px;
    transition: all var(--speed);    
    margin-bottom: 20px;
}
.admin:last-child {
    padding-bottom: 20px;
}
a.admin:hover {
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
}
.admin p {
    width: 100%;
}
.admin:hover {
    color: white;
}
.admin span {
    font-size: 10px;    
    color: white;
    border-top: solid 1px #555;
    background: rgba(0,0,0,0.2);
    display: block;    
    margin-top: 30px;    
}
.admin-total {
    background: var(--primary-color);   
    width: 100%;
    padding-bottom: 20px;
}
.admin-products {
    background: #1b9349;
}
.admin-orders {
    background: #ffbb00;
}
.admin-users {
    background: #0b97bb;
}
.admin-stock {
    background: #ea4845;    
}
.admin-total + div {
    justify-content: space-between;
}
.dashboard aside ul ul li {
    padding-left: 20px;
}
.dashboard .fa-pencil {
    color: var(--primary-color);
    margin-right:7px;
}
.dashboard .fa-trash {
    color: red;    
    transition: all var(--speed);
    margin-left: 7px;
}
.dashboard .fa-pencil:hover,
.dashboard .fa-trash:hover {
    color: var(--secondary-color);
}
.dashboard h6 {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--primary-color);
}
.dashboard .avatar {
    width: 150px;
    height: 150px;
    display: block;
    border: solid 1px #ccc;
    overflow: hidden;
}
.dashboard .avatar .fa-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    background: rgba(0,0,0,0.4);
}
.preview-thumbnails {   
    display: inline-block; 
    margin: 0 0 20px 0;
    font-size: 0;
}
.preview-thumbnails figure {
    display: inline-block;    
    width: 55px;
    height: 55px;
    overflow: hidden;
    border: solid 1px #ccc;
    margin-right: 8px;
}
.preview-thumbnails figure:last-child  {
    margin: 0;
}
.preview-thumbnails img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all var(--speed);
}
.dashboard .mdb-table th,
.dashboard .mdb-table td {
    padding: 10px;
    font-size: 12px;
}
.dashboard .mdb-table td:nth-child(2) {
    color: var(--primary-color);
}
.dashboard .mdb-table figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard .mdb-table img {
    height: 50px;
    width: auto;
    transition: all var(--speed);
}
.dashboard .mdb-table img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
}
.add-artwork-details input{
  width: auto;
}
.dashboard .add-product-title {
    padding: 0;
    margin-bottom: 40px;
}
.dashboard .add-product-title,
.add-product-title::placeholder {
    font-size: 32px;
    color: var(--primary-color);
    letter-spacing: 0.04em;
    font-weight: 100;
    margin-bottom: 40px;
    text-indent: 0;    
    text-transform: capitalize;
}
.admin-size-details b {
    font-size: 12px;
}
.admin-size-details h6 small {
    font-size: 10px;
    color: var(--primary-color);
}
.dashboard .avatar {
    position: relative;
}
.dashboard .avatar img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dashboard aside ul ul a {
    display: block;
    line-height: 50px;
}

