/* Helper Classes */
.bg-grey {
  background: #edecec;
}
/* Heading / Paragaraph Styles */
h1 {
  font-size: 40px; 
  color: var(--primary-color); 
  margin-bottom: 40px;
  text-transform: capitalize;
  font-weight: 100; 
}
h2 {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 100; 
}
h3 {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}
h4 {
  margin: 20px 0;
  font-weight: 500;
}
h5 {  
  color: var(--primary-color);
  margin-bottom: 20px;
}
h6 {
  font-size: 10px;
  letter-spacing: 0.07rem;
  color: var(--primary-color);
  text-transform: uppercase;
}
p {
  line-height: 1.8em;
  font-size: 14px; 
  font-weight: 100;
}
div {
  font-size: 14px; 
  font-weight: 100;
}
/* Layout Styles */
.container {
  max-width: 1280px; 
  margin: auto;
}
.wrapper {
  width: 100%; 
  padding: 40px;
}
.parent {
  display: flex;
  justify-content: space-between;
}
.col-6 {
  flex-basis: 50%;
}
/* Aside / Article Styles */
aside {
  flex: 0 0 20%;
}
article {
  flex: 0 1 calc(80% - 80px);  
  width: calc(80% - 80px) 
}
aside ul {
  margin: 20px 0 30px 0;
}
aside li{
  padding: 2px 0;
}
/* MUI Icon styles */
label .eye {  
  position: absolute;  
  right: 0;  
  line-height: 32px;
}
/* Button Styles */
button {
  cursor: pointer;    
  transition: all var(--speed);
}
button[disabled] {
  pointer-events: none;
  border-color: transparent;  
}
.submit {
  position: relative;
  font-size: 18px;  
  color: var(--primary-color); 
  text-transform: uppercase;
  background: white;    
  display: inline-block;  
  padding: 0 20px; 
  line-height: 50px;
  height: 50px;
  border-radius: 0 25px 0 25px;  
  border: solid 1px var(--primary-color); 
  font-weight: 300; 
}
.submit:hover {
  color: white; 
  background: var(--primary-color);
}
.filters { 
  color: #555;
  border-radius: 5px; 
  border: solid 2px #555; 
  margin: 0 auto 50px auto; 
  width: 100%; 
  display: none;
  line-height: 35px;
}
.filters:hover {
  color: white; 
  background: #88744a;
}
/* Form Styles */
.user-form {    
  margin: auto;
  box-shadow: var(--box-shadow);
  padding: 40px;
  max-width: 480px; 
  flex-basis: 480px;
  position: relative;
  background: white;  
}
.cart {
  max-width: 100%;
}
.modal { 
  position: fixed;   
  left: 0;
  right: 0; 
  top: 50%;
  margin: auto;  
  z-index: 2000; 
}
::placeholder {
  color: #999;
}
label {
  display: block;
  position: relative;
}
input,
textarea,
select {
  padding: 10px;
  width: 100%;
  border-bottom: solid 1px #ccc;
  transition: all var(--speed);
  font-weight: 100;
}
.hidden-input {
  padding: 0;
  opacity: 0;
  border: none;
  position: absolute;
  top: 30px;
  left: 0;
}
input:focus,
select:focus,
textarea:focus {
  border-bottom-color: var(--primary-color);
  outline: none;
}
.user-form p {
  line-height: 2.5em;
}
.user-form .submit {
  width: 100%;
}
/* Custom Country Dropdown */
.custom-select >  li {
  position: relative;
  cursor: pointer;
  border-bottom: solid 1px #ccc;  
}
.custom-select > li.open {
  border-color: var(--primary-color);
}
.custom-select > li >  div > span {
  color: #999;
}
.custom-select .set {
  color: black;
}
.custom-select-dropdown {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: calc( (40vh + 20px) * -1 );
  z-index: 1;
  overflow-y: scroll;
  background: white;
  box-shadow: var(--box-shadow); 
}
.custom-select ul {
  padding: 10px 0 10px 0;  
}
.custom-select-dropdown li {
  padding: 3px 10px;
  transition: all var(--speed);
  white-space: nowrap;
}
.custom-select-dropdown .selected {
  background: var(--primary-color);
  color: white;
}
.custom-select-dropdown li:hover {
  background: #ccc;
  color: white;
}
.custom-select div:first-child {
  padding: 10px;
}
.custom-select input {
  text-indent: 40px;
}
.custom-select .select-search {
  position: absolute;
  left: 10px;
  line-height: 35px;
}
.custom-select img {
  width: 20px;
  margin-right: 20px;
  border: solid 1px #ccc;
}
.ck-focused {
  border-color: #ccc !important;
  border-bottom-color: var(--primary-color) !important;
}
/* MDB Table Styles */
.mdb-datatable > div:nth-child(2) {
  border: solid 1px #ccc;
  margin-top: 20px;
}
.mdb-datatable tr:nth-child(even) {
  background: #f6f5f5;
}
/* Home Page Styles */
.portrait .parent {
  flex-direction: column;
  justify-content: center;
}
.callout {
  flex-direction: column;
  justify-content: center;
}
section {
  margin: 40px 0; 
}
section .callout {
  background: rgba(0,0,0,0.8);
  width: 350px;  
  color: #ccc;
}
section .callout h3 {
  color: #999;
}
/* CTA styles */
.cta {
  position: absolute;
  right: 0;
  width: 50%;
  height: 200px;
  overflow: hidden;    
}
.cta-first-image {
  align-self: end;
  height: 400px;
}
.cta-last-image {
  height: 400px;
}
/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  height: 30px; 
  line-height: 30px; 
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li.disabled a {
  pointer-events: none;
  opacity: 0.4; 
}
.pagination li.active a {
  color: #fff; 
  background: var(--primary-color); 
  border-color: var(--primary-color);
  border-radius: 100%;
  pointer-events: none;
}
.pagination a:hover {
  color: #fff; 
  background: var(--secondary-color); 
  border-color: var(--secondary-color);
}
/* Slideshow Styles */
.slideshow {
  position: relative;
  height: 80vh;
  margin-bottom: 10vh;
  background: white;
}
.slideshow > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;    
}
/* Thumbnail Styles */
.thumbnails {    
  display: flex; 
  flex-wrap: wrap;  
  margin: 0 -5px 20px 0;
}
.thumbnails li {
  margin: 0 5px 5px 0;  
  width: 125px; 
  height: 75px; 
  overflow: hidden;
  border: solid 1px #ccc;
}
.thumbnails img:hover {
  cursor: zoom-in; 
  opacity: 0.5;
}
/* Carousel Styles */
.carousel {
  width: 100%;
  max-width: 860px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel ul {
  position: relative;
  white-space: nowrap;
  transition: all var(--speed);
}
.carousel li {
  width: calc(100% / 3);
  height: 335px;
  display: inline-block;
  overflow: hidden;
  background-color: black;
  border: solid 20px white; 
  transition: all var(--speed); 
}
.carousel img {
  opacity: 0.85;  
}
.carousel .active {
  border: solid 5px #333;
  box-shadow: var(--box-shadow); 
  z-index: 1;
  position: relative;
}
.carousel .active img {
  opacity: 1;  
}
/* Lightbox */
.backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; 
  z-index: 1;
}
.lightbox {  
  width: 90vw;
  height: 90vh;
  margin: 5vh auto; 
  overflow: hidden;  
  position: relative;
}
.lightbox .slide-container {  
  position: absolute;  
  white-space: nowrap;
  transition: left var(--speed);
  width: 100%;
  height: 100%; 
}
.lightbox .slide-container div {    
  display: inline-block;
  width: 100%;
  height: 100%;
}
.arrow-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;   
}
/* Gallery styles */
.showroom { 
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 20px -15px;
}
.showroom-item {
  display: flex; 
  flex-direction: column;   
  flex: 1 0 200px;
  align-items: center;
  background: #ececec; 
  height: 390px; 
  padding: 20px 0; 
  margin: 0 15px 30px 15px;                              
  transition: all var(--speed);
}
.showroom-item:hover {
  transform: scale(1.05);
  box-shadow: 0 2.8px 2.2px   rgb(0 0 0 / 3%), 
              0 6.7px 5.3px   rgb(0 0 0 / 5%), 
              0 12.5px 10px   rgb(0 0 0 / 6%), 
              0 22.3px 17.9px rgb(0 0 0 / 7%), 
              0 41.8px 33.4px rgb(0 0 0 / 9%), 
              0 100px 80px    rgb(0 0 0 / 12%);
}
.showroom-item > div {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;  
  height: 30%;
  width: 100%;
  max-width: 240px;
}
.showroom-item figure {
  display: flex;
  width: 90%;
  overflow: hidden;
}
.showroom-item > div:first-child {   
  justify-content: center;
  align-items: center;
  height: 70%;
}
/* Media Queries */
@media ( max-width: 768px ) {
  .container {
    max-width: 480px;
  }
  .wrapper {
    padding: 30px;
  }
  .parent {
    flex-direction: column;
  }
  article {
    width: 100%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .filters {
    display: inline-block;
  }
  .cta {
    position: relative;
    width: 50%;
    float: right;
  }
  .cta-first-image {
    width: 100%;
    flex-basis: auto;
  }
  .cta-last-image {
    width: 50%;
    height: 200px;
    flex-basis: auto;
  }
  .thumbnails li { 
    max-width: 50%;
    margin: 0;
  }
 }