/* Helper Classes */
.bg-grey {
  background: #edecec;
}
/* Heading / Paragaraph Styles */
h1 {
  font-size: 40px; 
  color: var(--primary-color); 
  margin-bottom: 40px;
  text-transform: capitalize;
  font-weight: 100; 
}
h2 {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 100; 
}
h3 {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}
h4 {
  margin: 20px 0;
  font-weight: 500;
}
h5 {  
  color: var(--primary-color);
  margin-bottom: 20px;
}
h6 {
  font-size: 10px;
  letter-spacing: 0.07rem;
  color: var(--primary-color);
  text-transform: uppercase;
}
p {
  line-height: 1.8em;
  font-size: 14px; 
  font-weight: 100;
}
div {
  font-weight: 100;
}
/* Layout Styles */
.container {
  max-width: 1280px; 
  margin: auto;
}
.wrapper {
  width: 100%; 
  padding: 40px;  
}
.wrapper.d-flex {
  min-height: 80vh;
}
.parent {
  display: flex;
  justify-content: space-between;
}
.col-6 {
  flex-basis: 50%;
}
/* Aside / Article Styles */
aside {
  flex: 0 0 25%;
}
article {
  flex: 0 1 calc(75% - 40px);  
  width: calc(75% - 40px) 
}
aside ul {
  margin: 20px 0 30px 0;
}
aside li {
  padding: 2px 0;
  cursor: pointer;
  position: relative;
}
aside ul ul li {
  margin-left: 20px;
}
.arrow-down {
  position: absolute !important;
  right: 0;
}
/* Button Styles */
.submit {
  position: relative;
  font-size: 18px;  
  color: var(--primary-color); 
  text-transform: uppercase;
  background: white;    
  display: inline-block;  
  padding: 0 20px; 
  line-height: 50px;
  height: 50px;
  border-radius: 0 25px 0 25px;  
  border: solid 1px var(--primary-color); 
  font-weight: 300; 
  cursor: pointer;    
  transition: all var(--speed);
}
.submit:hover {
  color: white; 
  background: var(--primary-color);
}
.filters { 
  color: #555;
  border-radius: 5px; 
  border: solid 2px #555; 
  margin: 0 auto 50px auto; 
  width: 100%; 
  display: none;
  line-height: 35px;
}
.filters:hover {
  color: white; 
  background: #88744a;
}
/* Form Styles */
.user-form {    
  margin: auto;
  box-shadow: var(--box-shadow);
  padding: 40px;
  flex-basis: 480px;
  position: relative;
  background: white;  
}
.modal { 
  position: fixed;   
  left: 0;
  right: 0; 
  top: 50%;
  margin: auto;  
  z-index: 2000; 
  max-width: 480px;
}
::placeholder {
  color: #ccc;
}
label {
  display: block;
  position: relative;
}
.hidden-input {
  padding: 0;
  opacity: 0;
  border: none;
  position: absolute;
  top: 30px;
  left: 0;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
.editor-area {
  max-height: 500px;
  border: solid 1px #ccc;
  margin-top: 20px;
  padding: 20px;
}
.richtext-editor {
  border: solid 1px #ccc;
}
/* MDB Table Styles */
.mdb-datatable > div:nth-child(2) {
  border: solid 1px #ccc;
  margin-top: 20px;
}
.mdb-datatable tr:nth-child(even) {
  background: #f6f5f5;
}
/* Home Page Styles */
.portrait .parent {
  flex-direction: column;
  justify-content: center;
}
.callout {
  flex-direction: column;
  justify-content: center;
}
section {
  margin: 40px 0; 
}
section .callout {
  background: rgba(0,0,0,0.8);
  width: 350px;  
  color: #ccc;
}
section .callout h3 {
  color: #999;
}
/* CTA styles */
.cta {
  position: absolute;
  right: 0;
  width: 50%;
  height: 200px;
  overflow: hidden;    
}
.cta-first-image {
  align-self: end;
  height: 400px;
}
.cta-last-image {
  height: 400px;
}
/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  height: 30px; 
  line-height: 30px; 
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li.disabled a {
  pointer-events: none;
  opacity: 0.4; 
}
.pagination li.active a {
  color: #fff; 
  background: var(--primary-color); 
  border-color: var(--primary-color);
  border-radius: 100%;
  pointer-events: none;
}
.pagination a:hover {
  color: #fff; 
  background: var(--secondary-color); 
  border-color: var(--secondary-color);
}
/* Slideshow Styles */
.slideshow {
  position: relative;
  height: 80vh;
  margin-bottom: 10vh;
  background: white;
}
.slideshow > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;    
}
/* Thumbnail Styles */
.thumbnails {    
  display: flex; 
  flex-wrap: wrap;  
  margin: 0 -5px 20px 0;
}
.thumbnails li {
  margin: 0 5px 0 0;  
  width: 125px; 
  height: 75px; 
  overflow: hidden;
  border: solid 1px #ccc;
  background: white;  
}
.thumbnails img:hover {
  cursor: zoom-in; 
  opacity: 0.5;
}
/* Carousel Styles */
.carousel {
  width: 100%;
  max-width: 860px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel ul {
  position: relative;
  white-space: nowrap;
  transition: all var(--speed);
}
.carousel li {
  width: calc(100% / 3);
  height: 335px;
  display: inline-block;
  overflow: hidden;
  background-color: black;
  border: solid 20px white; 
  transition: all var(--speed); 
}
.carousel img {
  opacity: 0.85;  
}
.carousel .active {
  border: solid 5px #333;
  box-shadow: var(--box-shadow); 
  z-index: 1;
  position: relative;
}
.carousel .active img {
  opacity: 1;  
}
/* Lightbox */
.backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; 
  z-index: 1;
}
.lightbox {  
  width: 90vw;
  height: 90vh;
  margin: 5vh auto; 
  overflow: hidden;  
  position: relative;
}
.lightbox .slide-container {  
  position: absolute;  
  white-space: nowrap;
  transition: left var(--speed);
  width: 100%;
  height: 100%; 
}
.lightbox .slide-container div {    
  display: inline-block;
  width: 100%;
  height: 100%;
}
.arrow-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;   
}
/* Gallery styles */
.showroom { 
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 20px -15px;
}
.showroom-item {
  display: flex; 
  flex-direction: column;   
  flex: 1 0 200px;
  align-items: center;
  background: #ececec; 
  height: 390px; 
  padding: 20px 0; 
  margin: 0 15px 30px 15px;                              
  transition: all var(--speed);
}
.showroom-item:hover {
  transform: scale(1.05);
  box-shadow: 0 2.8px 2.2px   rgb(0 0 0 / 3%), 
              0 6.7px 5.3px   rgb(0 0 0 / 5%), 
              0 12.5px 10px   rgb(0 0 0 / 6%), 
              0 22.3px 17.9px rgb(0 0 0 / 7%), 
              0 41.8px 33.4px rgb(0 0 0 / 9%), 
              0 100px 80px    rgb(0 0 0 / 12%);
}
.showroom-item > div {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;  
  height: 30%;
  width: 100%;
  max-width: 240px;
}
.showroom-item figure {
  display: flex;
  width: 90%;
  overflow: hidden;
}
.showroom-item > div:first-child {   
  justify-content: center;
  align-items: center;
  height: 70%;
}
/* Alert Styles */
#__react-alert__ > div:before {
  content: '';
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100vw;
  height: 200vh; 
}
#__react-alert__ > div > div > div {
  background: white !important;
  color: #333 !important; 
  text-transform: capitalize !important;  
  padding: 40px !important;
  position: relative;
}
#__react-alert__ button {
  position: absolute;
  top: 10px;
  right: 10px;
}
#__react-alert__ button svg {
  stroke: #333 !important;    
}
/* Blog Page Styles */
.blog-content img:nth-child(odd) {
  float: left;
  margin: 20px 20px 20px 0;
}
.blog-content img:nth-child(even) {
  float: right;
  margin: 20px 0 20px 20px;
}
/* Media Queries */
@media ( max-width: 768px ) {
  .container {
    max-width: 480px;
  }
  .wrapper {
    padding: 30px;
  }
  .wrapper.d-flex {
    display: block;
    min-height: 0;
  }
  .parent {
    flex-direction: column;
  }
  article {
    width: 100%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .container, main {
    min-height: 0;
  }
  .filters {
    display: inline-block;
  }
  .cta {
    position: relative;
    width: 50%;
    float: right;
  }
  .cta-first-image {
    width: 100%;
    flex-basis: auto;
  }
  .cta-last-image {
    width: 50%;
    height: 200px;
    flex-basis: auto;
  }
  .thumbnails li { 
    max-width: 50%;
    margin: 0;
  }
  .blog-content img {
    display: block;
    float: none !important;
    margin: 0 auto !important;
  }
 }