/* Sitewide Variables */
:root {
  --primary-color: #88744a;
  --secondary-color: #555;
  --cta-green: #13ae4b;
  --speed: 500ms;  
}
/* CSS Reset */
* {
  font-size: 14px;  
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  border-radius: 0;
  outline: none;
  vertical-align: baseline;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
}
/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;   
}
/* Sticky Footer */
#root {
  display: flex; 
  flex-direction: column;    
  min-height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;  
}
.main {
  flex-grow: 1; 
  min-height: 80vh; 
}
.stage {
  min-height: 80vh; 
  display: flex;   
}
footer {
  flex-shrink: 0;
}
/* Helper Classes */
.primary-color {
  color: var(--primary-color);
}
.success {
  color: var(--cta-green);
}
.danger {
  color: red;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.centered-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-grey {
  background: #edecec;
}
.no-font {
  font-size: 0;
}
.relative {
  position: relative;
}
.float-r {
  float: right;
}
.background-cover { 
  background-position: center;
  background-size: cover;
}
.price {
  color: var(--primary-color);
  font-size: 24px;
  font-family: "Monotype Corsiva", cursive;
}
.sticky {
  position: sticky;
  top: 0;
  background: white;
}
/* Heading / Paragaraph Styles */
h1 {
  font-size: 40px; 
  color: var(--primary-color); 
  letter-spacing: 0.04em; 
  font-weight: 100; 
  margin: 0 0 40px 0;
  text-transform: capitalize;
}
h2 {
  font-size: 32px;
  line-height: 1.5em;
  color: var(--primary-color);
  letter-spacing: 0.04em;
  font-weight: 100;
  margin-bottom: 20px;
  text-transform: capitalize;
}
h3 {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h4 {
  margin: 20px 0;
}
h5 {
  margin-bottom: 20px;
  color: var(--primary-color);
}
h6 {
  font-size: 10px;
  letter-spacing: 0.07rem;
  color: var(--primary-color);
  text-transform: uppercase;
}
p {
  line-height: 1.8em;
  letter-spacing: 0.03em;
}
small {
  font-size: 12px;
}
span {
  font-size: inherit;
  font-family: inherit;
}
/* Layout Styles */
.container {
  max-width: 1280px; 
  margin: auto;
}
.wrapper {
  width: 100%; 
  padding: 40px;
}
.parent {
  display: flex;
  justify-content: space-between;
}
.col-6 {
  flex-basis: 50%;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; 
  z-index: 1;
}
.backdrop.clear {
  background: none;
}
/* Aside / Article Styles */
aside {
  flex: 0 0 20%;
}
article {
  flex: 0 1 calc(80% - 80px);  
  width: calc(80% - 80px);   
}
.dashboard article {
  flex: 0 1 80%;  
  width: 80%; 
}
aside ul {
  margin: 10px 0 30px 0;
}
aside ul ul {
  padding-left: 20px;
}
aside li a {
  display: inline-block; 
}
aside li,
aside li a {
  position: relative;
  padding: 2px 0;
  font-size: 12px;
  cursor: pointer;
}
aside h4 {
  margin: 0 0 30px 0;
}
aside .fa {
  font-size: 22px;
  margin: 0 20px 0 0;      
}
.dashboard aside ul {
  margin-bottom: 10px ;
}
.dashboard aside li {
  padding: 10px 0;
}
aside li:hover input[type=checkbox] {
  border-color: var(--primary-color);
}
.rc-slider {
  width: 170px;
  margin: 20px 0 50px 0;
}
/* List Styles */
ul {
  list-style: none;
}
ul.list-style { 
  list-style-position: inside;
  list-style-type: disc;     
}
li::marker {
  color: #999;
  font-size: 1.2em;
}
/* Anchor Tag Styles */
a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all var(--speed);
}
a:hover {
  color: var(--primary-color);
}
.link-active {
  color: var(--primary-color);
  border-top: solid 1px var(--primary-color);
  border-bottom: solid 1px var(--primary-color);
  font-weight: bold;
  pointer-events: none;  
}
/* Fontawesome styles */
.fa {
  color: var(--secondary-color);
  transition: all var(--speed);
}
.fa:hover {
  color: var(--primary-color);
}
.fa-times {   
  font-size: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #999999;  
  cursor: pointer;
}
.fa-times:hover {
  color: var(--primary-color); 
}
.fa-spinner {   
  font-size: 60px; 
  color: #ccc; 
  margin: auto;
  display: block;
}
button .fa-spinner {
  font-size: 32px; 
}
.fa-trash,
.fa-trash-o,
.fa-ban {
  color: red;  
}
.fa-pencil,
.fa-eye,
.fa-eye-slash {
  color: var(--primary-color);
}
.fa-check {
  color: var(--cta-green);
}
.fa-chevron-down,
.fa-chevron-up {
  font-size: 12px !important;    
  position: absolute;
  top: 15px;
  right: 0;
}
li:hover > a > .fa,
li:hover > .fa {
  color: var(--primary-color); 
}
.fa-pencil:hover,
.fa-eye:hover,
.fa-eye-slash:hover {
  color: var(--secondary-color);
}
/* Button Styles */
button {
  cursor: pointer;    
  transition: all var(--speed);
  color: inherit;
}
button:hover {
  color: var(--primary-color);
}
button[disabled] {
  pointer-events: none;
}
.submit {
  color: var(--primary-color); 
  text-transform: uppercase;
  white-space: nowrap;  
  background: white;    
  display: inline-block;  
  padding: 10px 20px; 
  line-height: 1.8em;
  border-radius: 0 25px 0 25px;  
  border: solid 1px var(--primary-color); 
  font-weight: 300; 
  font-size: 18px;  
  position: relative;
}
.submit:hover {
  color: white; 
  background: var(--primary-color);
}
button .fa-chevron-right,
a .fa-chevron-right {
  position: absolute;
  top: 17px;
  right: 20px;  
  color: inherit; 
}
button:hover .fa-chevron-right,
a:hover .fa-chevron-right {  
  right: 15px;
}
.filters { 
  color: #555;
  border-radius: 5px; 
  border: solid 2px #555; 
  margin: 0 auto 50px auto; 
  width: 100%; 
  display: none;
  line-height: 35px;
}
.filters:hover {
  color: white; 
  background: #88744a;
}
.buttons {
  display: flex;
  justify-content: center;
}
.cancel {
  border: solid 1px #ccc;
  flex-basis: 100px;
  padding: 10px 20px;
}
.confirm {
  background: var(--primary-color);
  color: white;
  flex-basis: 100px;
  padding: 10px 20px;
}
.cancel:hover {
  background: var(--primary-color);
  color: white;
}
.confirm:hover {
  background: white;
  color: var(--primary-color);
  border: solid 1px #ccc;
}
/* Form Styles */
.user-form {    
  margin: auto;
  box-shadow: 0 0 32px rgba(0,0,0,0.5);
  padding: 40px;
  max-width: 480px; 
  flex-basis: 480px;
  position: relative;
  background: white;
}
.cart {
  max-width: 100%;
}
.modal { 
  position: fixed;   
  left: 0;
  right: 0; 
  top: 50%;
  margin: auto;  
  z-index: 1; 
}
.add-product-title,
.add-product-title::placeholder {
    font-size: 32px;
    color: var(--primary-color);
    padding: 0;
    margin-bottom: 40px;
    text-transform: capitalize;
}
::placeholder {
  color: #999;
}
label {
  display: block;
  position: relative;
}
input,
textarea,
select {
  padding: 10px;
  width: 100%;
  border-bottom: solid 1px #ccc;
  transition: all var(--speed);
}
.hidden-input {
  padding: 0;
  opacity: 0;
  border: none;
  position: absolute;
  top: 30px;
  left: 0;
}
option {
  color: black;
}
textarea {
  min-height: 100px;
}
input[type=checkbox] { 
  padding: 0;
  height: 14px;
  width: 14px;
  appearance: none;
  margin-right: 10px;
  border: solid 1px #ccc;
  cursor: pointer;
}
input[type=checkbox]:checked {
  border-color: var(--primary-color);
  color: var(--primary-color);  
  text-align: center;
  
  font-family: FontAwesome;
  font-size: 10px;  
}
input[type=checkbox]:checked:after {
  content: "\f00c"; 
}
input:focus,
select:focus,
textarea:focus {
  border-bottom-color: var(--primary-color);
  outline: none;
}
input[type=file] {
  position: absolute;
  opacity: 0; 
  width: 0;
  padding: 0;
}
/* input:invalid {
  background: #ffefea;
} */
.avatar {
  margin-bottom: 20px;
  width: 190px;  
  height: 190px;
  overflow: hidden;
  cursor: pointer;  
  border: solid 1px #ccc;
}
.cart-image {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  border: solid 1px #ccc;
  transition: all var(--speed);
}
.cart-image:hover {    
  transform: scale(1.05);
  box-shadow: 0 0 32px rgba(0,0,0,0.1);
}
.order-summary {
  padding: 20px;
  margin-left: 40px;
  box-shadow: 0 0 32px rgba(0,0,0,0.5);   
}
.user-form .fa {
  cursor: pointer;
}
label i.fa-eye,
label i.fa-eye-slash {  
  position: absolute;   
  right: 20px;  
  line-height: 32px;
}
.user-form p {
  line-height: 2.5em;
}
.user-form button {
  width: 100%;
}
/* Custom Country Dropdown */
.custom-select >  li {
  position: relative;
  cursor: pointer;
  border-bottom: solid 1px #ccc;  
}
.custom-select > li.open {
  border-color: var(--primary-color);
}
.custom-select > li >  div > span {
  color: #999;
}
.custom-select .set {
  color: black;
}
.custom-select-dropdown {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: calc( (40vh + 20px) * -1 );
  z-index: 1;
  overflow-y: scroll;
  background: white;
  box-shadow: 0 0 32px rgb(0 0 0 / 50%); 
}
.custom-select ul {
  padding: 10px 0 10px 0;  
}
.custom-select-dropdown li {
  padding: 3px 10px;
  transition: all var(--speed);
  white-space: nowrap;
}
.custom-select-dropdown .selected {
  background: var(--primary-color);
  color: white;
}
.custom-select-dropdown li:hover {
  background: #ccc;
  color: white;
}
.custom-select div:first-child {
  padding: 10px;
}
.custom-select input {
  text-indent: 40px;
}
.custom-select .fa-search {
  position: absolute;
  left: 10px;
  line-height: 35px;
  font-size: 22px;
  color: #ccc;
}
.custom-select img {
  width: 20px;
  margin-right: 20px;
  border: solid 1px #ccc;
}
/* Alert Box Styles */
#__react-alert__ div > div > div {
  background: white !important;
  color: var(--primary-color) !important;
  width: auto !important;  
  box-shadow: 0 0 32px rgba(0,0,0,0.5) !important;
}
#__react-alert__ button {
  background-color: #ccc !important;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#__react-alert__ button:hover {
  background-color: var(--primary-color) !important;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
  width: 100%;
}
.bordered-table {
  border: solid 1px #ccc;
}
.spacer-cell {
  border: solid 1px #ccc;
  border-left-color: white;
  border-right-color: white;
  padding: 0;
}
th {
  text-align: right; 
  font-weight: normal;
  white-space: nowrap;
}
th,
td {
  padding: 10px;  
  font-size: 12px; 
}
th a, td a {
  font-size: inherit;
}
.middle-align th,
.middle-align td {
  vertical-align: middle;
}
.top-align th,
.top-align td {
  vertical-align: top;
}
.upload-product td,
.upload-product th {
  padding: 0;
}
.dimensions input {
  width: 65px;
}
/* MDB Table Styles */
.dataTables_wrapper > div:first-child {
  display: flex;
  justify-content: space-between;
}
.dataTables_wrapper > div:nth-child(2) {
  overflow-x: auto;
  margin-bottom: 20px;
}
.mdb-table input {
  text-align: right;
  border-bottom: solid 1px #ccc;  
  position: relative;
  top: 3px;
}
.mdb-table select {
  border-bottom: solid 1px #ccc;
  margin: 10px 0 20px 0 !important;
  height: 39px;
}
.mdb-table table {       
    margin-bottom: 20px;
    border: solid 1px #ccc;
}
.mdb-table td {    
  background: #eee;
  transition: all var(--speed);
  cursor: auto;
  vertical-align: middle;
}
.mdb-table tr:nth-child(even) td {
  background: #f6f5f5;
}
.mdb-table tr:hover td {
  background: #e1e0e0;
}
.mdb-table td:last-child,
.mdb-table th:last-child {
  text-align: center;
  white-space: nowrap;
}
.mdb-table .pagination li:first-child a span,
.mdb-table .pagination li:last-child a span {
  font-size: 0;  
}
.mdb-table .pagination li:first-child a:after {
  content: '⟨';   
}
.mdb-table .pagination li:last-child a:after{
  content: '⟩'; 
}
.mdb-table th {
  text-align: left;
  font-weight: bold; 
  position: relative;
  cursor: pointer; 
}
.mdb-table .sorting,
.mdb-table .sorting_asc,
.mdb-table .sorting_desc {
  padding-right: 30px;
}
.mdb-table th:before,
.mdb-table th:after {
  right: 14px;
  font-family: "FontAwesome";
  position: absolute;
  bottom: 0.9em;
  opacity: .3;
}
.mdb-table .sorting:before, 
.mdb-table .sorting_asc:before, 
.mdb-table .sorting_asc_disabled:before, 
.mdb-table .sorting_desc:before, 
.mdb-table .sorting_desc_disabled:before {  
  content: "\f0de";   
}
.mdb-table .sorting:after, 
.mdb-table .sorting_asc:after, 
.mdb-table .sorting_asc_disabled:after, 
.mdb-table .sorting_desc:after, 
.mdb-table .sorting_desc_disabled:after {
  content: "\f0dd";
}
.mdb-table .sorting_asc:before, 
.mdb-table .sorting_desc:after {
  opacity: 1;
}
/* Home Page Styles */
.callout {
  flex-direction: column;
  justify-content: center;
}
.callout .submit {
  width: 200px;
  margin-top: 20px;
}
section {
  margin: 40px 0;
  background-position: center;
  background-size: cover;
}
section .callout {
  background: rgba(0,0,0,0.8);
  width: 350px;  
}
section .callout h3 {
  color: #999;
}
.cta-first-image {
  align-self: end;
  height: 400px;
}
.cta {
  position: absolute;
  right: 0;
  width: 50%;
  height: 200px;
  overflow: hidden;    
}
.cta-last-image {
  height: 400px;
}
section .callout p {
  color: #ccc;
}
/* Dashboard Styles */
.admin {
  color: white;  
  border-radius: 5px;
  flex: 0 1 calc(25% - 10px);
  text-align: center;
  padding-top: 20px;      
  margin-bottom: 10px;
}
.admin-total {
  background: var(--primary-color);   
  padding-bottom: 40px;
}
.admin-products {
  background: var(--cta-green);
}
.admin-orders {
  background: #ffbb00;
}
.admin-users {
  background: #0b97bb;
}
.admin-stock {
  background: #ea4845;  
  padding-bottom: 40px;  
}
a.admin:hover {
  box-shadow: 0 0 32px rgba(0,0,0,0.3);
  transform: scale(1.05);
  color: white;
}
.admin p {
  border-top: solid 1px #555;
  background: rgba(0,0,0,0.2);
  margin-top: 20px;   
}
.admin p + p {
  text-align: left;
  padding-left: 10px; 
}
.admin .fa-chevron-right {
  top: 7px;
  right: 10px;
}
.admin:hover .fa-chevron-right {
  right: 5px;
}
/* Product Page Styles */
.portrait .parent {
  flex-direction: column;
  justify-content: center;
}
.portrait > div {
  flex-basis: calc(50% - 20px);
}
.landscape .information {
  display: flex;
  margin-top: 40px;
}
.product-details button {
  width: 200px;
  text-align: left;
}
/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;  
}
.pagination li {  
  text-align: center;  
}
.pagination a {
  height: 40px; 
  line-height: 40px; 
  width: 40px;
  text-decoration: none;
  display: block;
  border: solid 1px #eee;    
  cursor: pointer;
}
.pagination li.active a {
  color:#fff; 
  background: var(--primary-color); 
  border-color: var(--primary-color);
  pointer-events: none;
}
.pagination li.disabled a {
  pointer-events: none;
}
.pagination a:hover {
  color:#fff; 
  background: var(--secondary-color); 
  border-color: var(--secondary-color);
}
/* Quantity Button Styles */
.stockcounter {
  white-space: nowrap;  
}
.stockcounter input {
  width: 40px;
  padding: 0;
  text-align: center;
}
.plus i, 
.minus i {
    color: var(--primary-color);
    cursor: pointer;
}
.plus i:hover, 
.minus i:hover {
    color: var(--secondary-color);
}
.inactive {
  pointer-events: none;
}
.inactive i {   
    color: var(--secondary-color);
}
/* Image Styles */
img {
  width: 100%; 
  height: auto; 
  display: inline-block;  
  transition: all var(--speed);
}
/* Slideshow Styles */
.slideshow {
  position: relative;
  height: 80vh;
  margin-bottom: 10vh;
}
.slideshow > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;    
}
/* Thumbnail Styles */
.thumbnails {  
  height: 75px;  
  display: flex; 
  flex-wrap: wrap;  
}
.thumbnails li {
  margin: 0 5px 5px 0;  
  width: 125px; 
  height: 75px; 
  overflow: hidden;
  border: solid 1px #ccc;
}
.product-details .thumbnails li:hover img {
  cursor: zoom-in; 
  opacity: 0.5;
}
/* Carousel Styles */
.carousel {
  width: 100%;
  max-width: 860px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel ul {
  position: relative;
  white-space: nowrap;
  transition: all var(--speed);
}
.carousel li {
  width: calc(100% / 3);
  height: 335px;
  display: inline-block;
  overflow: hidden;
  background-color: black;
  border: solid 20px white; 
  transition: all var(--speed); 
}
.carousel img {
  opacity: 0.85;  
}
.carousel .active {
  border: solid 5px #333;
  box-shadow: 0 0 32px rgba(0,0,0,0.5); 
  z-index: 1;
  position: relative;
}
.carousel .active img {
  opacity: 1;  
}
/* Lightbox */
.lightbox-stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.lightbox {  
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw; 
  z-index: 1;  
  overflow: hidden;  
}
.lightbox .slide-container {  
  position: absolute;  
  white-space: nowrap;
  transition: left var(--speed);
  width: 100%;
  height: 100%; 
}
.lightbox .slide-container div {    
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lightbox img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightbox .portrait {
  height: 100%;
  width: auto;
}
.arrow-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
  display: flex;  
  justify-content: space-between; 
  z-index: 1;   
}
.arrow-buttons .fa {
  font-size: 22px;
  color: #999;
  transition: all var(--speed);
  cursor: pointer;
}
.arrow-buttons .fa:hover {
  color: var(--primary-color);
}
/* Gallery styles */
.showroom { 
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 20px -10px;
}
.showroom-item {
  display: flex; 
  flex-direction: column; 
  flex: 1 0 200px;
  background: #ececec; 
  height: 390px; 
  padding: 20px; 
  margin: 0 15px 30px 15px;                              
  transition: all var(--speed);
}
.showroom-item:hover {
  transform: scale(1.05);
  box-shadow: 0 2.8px 2.2px   rgb(0 0 0 / 3%), 
              0 6.7px 5.3px   rgb(0 0 0 / 5%), 
              0 12.5px 10px   rgb(0 0 0 / 6%), 
              0 22.3px 17.9px rgb(0 0 0 / 7%), 
              0 41.8px 33.4px rgb(0 0 0 / 9%), 
              0 100px 80px    rgb(0 0 0 / 12%);
}
.showroom-item div, 
.showroom-item figure {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
.showroom-item figure {   
  flex-grow: 2;
  text-align: center;
}
.showroom-item img {
  width: 230px;
  height: auto;
}
.showroom-item .portrait {
  height: 230px;
  width: auto;
}
.showroom-item small {
  margin:20px 0; 
  font-weight: bold;    
}
.showroom-item h6 {
  text-align: center;  
  margin-top: 20px;   
}
.showroom-item span {  
  max-width: 240px; 
  color: var(--primary-color);
  font-size: 1.375rem;
  overflow: hidden;
}
/* Review Star Styles */
.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #ccc;
}  
.star .fa {
  color: inherit;
}
.star .fa:hover {
  color: inherit;
}
.star:first-child {
  padding-left: 0;
}  
.gold {
  color: var(--primary-color);
}  
.yellow {
  color: #fdcc0d;
} 
/* Ratings */
.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}
.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: var(--primary-color);
}  
.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
  font-size: 16px;
}  
.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;   
  font-family: FontAwesome; 
  font-size: 16px;
}  
.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';   
} 
/* Checkout Steps */ 
.checkout-progress {
  display: flex;     
  margin: 0 auto 20px auto; 
}  
.checkout-progress a {
  flex-basis: calc(100% / 3);  
  display: flex;
}
.triangle2-active {
  width: 0;  
  border-top: 20px solid var(--primary-color);
  border-left: 15px solid #fff;
  border-bottom: 20px solid var(--primary-color);
}  
.triangle2-incomplete {
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
}
.step {
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  cursor: default;
  font-weight: bold;  
  flex-grow: 1;
  text-align: center;
}  
.incomplete {
  background: #eeeeee;
}  
.active-step {
  background: var(--primary-color);
  color: #fff;
}  
.triangle-active {  
  border-top: 20px solid transparent;
  border-left: 15px solid var(--primary-color);
  border-bottom: 20px solid transparent;
}  
.triangle-incomplete {
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
}  
/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; 
  height :12px;
}  
::-webkit-scrollbar-track-piece {
  background:#eee;
} 
::-webkit-scrollbar-button {
  background:#ccc;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius:10px; 
  border:solid 3px #fff;
}
/* Media Queries */
@media ( max-width: 768px ) {
  .container {
    max-width: 480px;
  }
  .parent {
    flex-direction: column;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  article {    
    margin-left: 0;
    width: 100% !important;
  }
  .user-form {
    padding: 20px;
  }
  .filters {
    display: inline-block;
  }
  .cta {
    position: relative;
    width: 50%;
    float: right;
  }
  .cta-first-image {
    width: 100%;
    flex-basis: auto;
  }
  .cta-last-image {
    width: 50%;
    height: 200px;
    flex-basis: auto;
  }
  td, th {
    font-size: 12px;
  }
  .product-details h1 {
    margin-top: 40px;
  }
 }
@media ( max-width: 480px ) {
  .wrapper {
    padding: 20px;
  }
}